@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
}


/* Navbar Starts */

header {
    background-color: #AAAAAA;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 95px auto 50px auto;
    padding: 0 20px;
}

.nav-navigaton {
    display: flex;
}

.nav-navigaton li {
    list-style: none;
    margin: 0 34px;
}

.nav-navigaton li a {
    text-decoration: none;
    font-weight: 700;
    color: #3A3A3A;
    padding: 10px 0;
}


/* Navbar Ends */


/* Left Sidebar and Right Sidebar Picture Starts  */

.banner-area {
    /* display: flex; */
    height: calc(100vh - 36px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-area-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* title typing animation */

.banner-area-left .title {
    font-weight: 700;
    font-size: 52px;
    position: relative;
    overflow: hidden;
}

.title-typing {
    content: 'Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color: #e06d97;
    animation: typing 3s linear infinite;
}

@keyframes typing {
    /* from {
        width: 0;
    }
    to {
        width: 100%;
    } */
    0% {}
}


/* title typing animation ends */

.banner-area-left p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.8;
    margin: 10px 0;
}

.header-btn {
    border: none;
    background: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    border-radius: 41px;
    padding: 10px 24px;
    color: #FFFFFF;
    box-shadow: 3px 3px 5px #e06d97;
    position: relative;
}

.header-btn:active {
    top: 3px;
    box-shadow: 2px 1px 1px #e06d97;
}


/* .banner-area-right img {
    width: 100%;
} */


/* Left Sidebar and Right Sidebar Picture Ends */


/* Popular Collections Starts */

.popular-collections-title {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
}

.popular-collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.collections {
    width: 329px;
    height: 476px;
    margin: 20px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collections-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.collections-image img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.collections-details {
    color: #787885;
    font-size: 14px;
    line-height: 143%;
    font-weight: 700;
}


/* START */

.star-rating {
    display: flex;
    width: 122px;
    height: 32px;
}

.rating {
    margin-left: 10px;
}

.fa-star.filled {
    color: #FB8200;
}

.fa-star-half-alt.filled {
    color: #FB8200;
}


/* Popular collections End */